@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InternalPartial.cshtml";
}        


  <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Bem Vindo!</h1>
        <br>
        <p>Você esta acessando o painel administrativo do Me Encontre.</p>        
      </div>

      
      <hr>