@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InternalPartial.cshtml";
}

<div class="span12">
            <div class="">
                <ul class="breadcrumb">
                  <li><a href="#">Home</a> <span class="divider">/</span></li>
                  <li><a href="#">Cadastro</a> <span class="divider">/</span></li>
                  <li class="active">Permissões</li>
                </ul>
            </div>  
        <hr>
    <p class="muted">Permissões previstas:</p>
    <ol>
        <li>Local x Colaborador permitido.</li>
        <li>Local x Colaborador não permitido.</li>
        <li>Local x Colaborador fora do horário.</li>
        <li>Local x Colaborador agendado.</li>
        <li>Local x Colaborador agendado não visitado.</li>
    </ol>  
  </div>
</div>
