<header>
    <div class="content-wrapper">
        <div class="float-left">
        
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>
                    Bem vindo as APIs do Me Encontre</h1>                                    
        </div>
         <br>
    <br>
    <br>
<br>
    <br>
    </section>
    <br>
    <br>
    <br>
<br>
    <br>
</div>
